@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {

    padding: 0;
    margin: 0;

    display: grid;

    grid-template-rows:1fr 800px;
    grid-template-columns: 1fr 2fr 1fr;

}

aside {

    background: rgba(50, 50, 50, 0.8);
    grid-column: 1/4;

    display: grid;
    grid-template-columns: 2fr 10fr 2fr;

}

main {
    grid-area: 2/1/3/5;

    /*display: grid;
    grid-template-columns: 1fr 10fr;*/
}

/*aside nav*/

nav {

    grid-column: 2;
    color: white;


    /*
    font-family: 'Balsamiq Sans', cursive;

    */

    font-family: 'Comfortaa', cursive;

    font-weight: 100;
    font-size: larger;

}

nav ul {

    display: grid;

    grid-template-columns: repeat(6, 1fr);

    column-gap: 10px;

    margin: 0;

}

nav li {
    list-style: none; /* Убираем маркеры списка */
    text-align: center;
    cursor: pointer;

}

.over {

    background-color: bisque;
    color: black;

}

.marked {
    background-color: cornflowerblue;

    color: black;

}









